<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>StoryBooks</title>
</head>

<body>
  {{> _header}}

  {{#if user}}
  {{> _add-btn}}
  {{/if}}

  <main>
    <div class="container contain">
      {{{body}}}
    </div>
  </main>

  {{> _footer}}

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
      $('select').formSelect();
    })
    CKEDITOR.replace('body', {
      plugins: 'wysiwygarea,toolbar,basicstyles,link'
    });
    $('#alert_close').click(function () {
      $("#alert_box").fadeOut("slow", function () {
      });
    });
  </script>
</body>

</html>